/* .btn{
    border: none;
    background: transparent;
    padding: 6px 16px;
    font-size: 1.1rem;
    color: azure;
    background: black;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    color: crimson;
    background: tan;
} */